body {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
}

.currency {
  text-align: right;
}

.badge {
  font-size: 14px;
}

.selected-items, .payment-details {
  margin-top: 20px;
}

.payment-details {
  h3 {
    margin: 5px 0;
    font-size: 22px;
  }
  .select-discount {
    display: inline-block;
    width: 60px;
    margin-left: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
}

.add-to-cart-form {
  .add-to-cart-btn {
    padding: 14px 60px;
    font-size: 22px;
  }
  .form-group {
    margin-right: 5px;
    .form-control {
      font-size: 22px;
      padding: 10px 60px;
      height: 60px;
    }
  }
}

.checkout-modal {
  .form-group {
    margin-right: 5px;
    .form-control {
      font-size: 22px;
      padding: 10px 60px;
      height: 60px;
    }
  }
}

.checkout {
  padding: 20px 60px;
  font-size: 22px;
}